<strong>Olá {{ user }}!</strong>
<p>Sua incrição no em <strong>{{ meetup }}</strong> foi confirmada!</p>
<p>
    <strong>Informações</strong><br>
    <strong>Data: </strong> {{ formattedDate }} <br />
    <strong>Organizador: </strong> {{ organizer }} <br />
    <strong>Descrição: </strong> {{ description }} <br />
</p>
